name: CD - Deploy Pokedex

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    name: Deploy to Production
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy with Docker Compose
        env:
          MONGO_INITDB_DATABASE: ${{ vars.MONGO_INITDB_DATABASE }}
          MONGO_PORT: ${{ vars.MONGO_PORT }}
          MONGO_DATA_PATH: ${{ vars.MONGO_DATA_PATH }}
          API_PORT: ${{ vars.API_PORT }}
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
          DATABASE_URL: ${{ vars.DATABASE_URL }}
          APP_PORT : ${{ vars.APP_PORT }}
          NG_APP_API_URL: ${{ vars.NG_APP_API_URL }}
        run: |
          # O GitHub Actions já faz o checkout na pasta do Runner
          # Não precisa de SSH, os comandos abaixo rodam direto no seu Arch
          docker-compose up -d --build
          docker image prune -f